/*------Tags de conteúdo--------*/
ul{
    list-style: none;
    margin: 12px 0;
}

ol{
    list-style: none;
    margin: 12px 0;
}

input{
    height: 40px;
    width: 200px;
    align-items: center;
    margin-bottom: 12px;
    color: rgb(73,71,71);
    border-radius: 6px;
    text-align: center;
}

button{
    height: 40px;
    width: 200px;
    align-items: center;
    margin-bottom: 12px;
    border-radius: 6px;
    color: white;
    background-color: green;
    transition: background 400ms;
}

button:hover{
    background: rgb(179, 177, 177);
}

p{
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 16px;
    color: var(--text-color);
}

a{ 
    text-decoration: none;
    background-color: var(--bg-color);
    color: var(--text-color);
    opacity: 0.6;
}

a:hover{
    opacity: 1;
}